<html xmlns:th="http://www.thymeleaf.org">
	<form action="#"  th:action="@{/insert}"  th:object="${product}"   method="post">
		<table>
			<tr>
				<td>Produkta nosaukums:</td>
				<td><input type="text" th:field="*{title}"   />  </td>
				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> Nederīgs nosaukums </td>
			</tr>
			
			<tr>
				<td>Produkta cena:</td>
				<td><input type="text" th:field="*{price}"   />  </td>
				<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}"> Nederīga cena </td>
			</tr>
			
			<tr>
				<td>Produkta apraksts:</td>
				<td><input type="text" th:field="*{description}"   />  </td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> Nederīgs apraksts </td>
			</tr>
			
			<tr>
				<td>Produkta daudzums:</td>
				<td><input type="text" th:field="*{quantity}"   />  </td>
				<td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"> Nederīgs daudzums </td>
			</tr>
			
		
			<tr>
				<td> <button type="submit"> Saglabāt produktu </button> </td>
			</tr>	
		</table>
		
		
	</form>
	
	
</html>